name: Main Branch

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE }}

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build Project
        run: yarn build

      - name: Deploy
        uses: jonelantha/gatsby-s3-action@v2
        with:
          dest-s3-bucket: alysia-lynn.com
          cloudfront-id-to-invalidate: ${{ secrets.CLOUDFRONT_ID }}

  lighthouse:
    name: Lighthouse Audits
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://www.alysia-lynn.com/
          uploadArtifacts: true
          temporaryPublicStorage: true
